@use './convector.scss' as to;
@import './colors.scss';
.doctor-card {
  // background-color: #fff;
  margin-bottom: to.rem(20px);
  border-radius: to.rem(16px);
  // &:hover {
  //   background-color: $background-main;
  // }

  .doctor-info {
    width: 100%;
    display: flex;
    padding: to.rem(12px);
    flex: 0 0 70%;

    padding-bottom: to.rem(16px);
    border-bottom: 1px solid #e4e4e4;

    .profile-photo {
      border-radius: to.rem(10px);
      width: 100%;
      height: 100%;
    }
    .photo-block {
      margin-right: to.rem(20px);
      height: to.rem(177px);
      width: to.rem(125px);
    }
    .profile-card {
      flex: 1 1 auto;
      .statistic {
        margin-bottom: to.rem(12px);
        .rating-avg {
          background-color: rgba(255, 134, 94, 0.1);
          border-radius: 16px;
          width: 59px;
          height: 24px;
          font-size: 12px;
          line-height: 18px;
          color: #012c57;
          padding-top: 0.25rem;
          margin-right: to.rem(14px);
        }
        .review {
          font-size: 12px;
          line-height: 18px;
          color: $secondary;
        }
      }
      .name {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $main;
        margin-bottom: to.rem(9.5px);
      }
      .specialty {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $support-green;
        margin-bottom: to.rem(5.5px);
      }
      .position {
        font-size: 14px;
        line-height: 21px;
        color: $secondary;
      }
      .for-patient {
        font-size: 14px;
        line-height: 21px;
        .patient-count {
          color: $secondary;
          padding-right: to.rem(8px);
          border-right: 1px solid #e4e4e4;
        }
        .default-price {
          color: $secondary;
        }
        .sale {
          background-color: $support-orange;
          padding: to.rem(1px) to.rem(2px);
          border-radius: to.rem(8px);
          margin-left: to.rem(8px);
          color: #fff;
        }
      }
      .clinic {
        font-size: to.rem(14px);
        line-height: to.rem(21px);
        .clinic-name {
          padding-right: 12px;
          border-right: 1px solid #e4e4e4;
        }
        .location {
          color: $secondary;
        }
      }
    }
  }
  .dashboard {
    h3 {
      color: $support-green;
    }
    padding: to.rem(20px);
    .available-date {
      font-size: 16px;
      line-height: 24px;
      color: $main;
      margin-left: to.rem(10px);
    }
    .open {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      background-color: $main;
      padding: to.rem(8px) to.rem(16px);
      border-radius: to.rem(100px);
      color: $brand-color;
    }
    i {
      border: solid $brand-color;
      border-width: 0 2.5px 2.5px 0;
      display: inline-block;
      padding: 2.5px;
      margin-bottom: to.rem(5px);
      margin-left: to.rem(5px);
    }
    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .close {
      border-radius: to.rem(16px);
      padding: to.rem(5px);
    }
    .day-bar {
      align-items: center;
      padding: 0 to.rem(12px);
      .day {
        padding: 0 to.rem(12px);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $support-green;
      }
      .active {
        border-bottom: $support-green 1px solid;
      }
    }
  }
}
.card-open {
  background-color: $background-main;
}
