@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins";
  background: #E5E5E5;
}

header {
  width: 100%;
  height: 163px;
  position: sticky;
  top: 0px;
  margin-bottom: 24px;
}
main {
  display: flex;
  flex-direction: row;

  align-items: start;
  .side {
    position: sticky;
    top: 187px;
  }
  .side-left {
    width: 258px;
    .placeholder-1 {
      height: 654px;
      margin-left: 28px;
    }
  }
  .side-right {
    margin-right: 28px;
    .placeholder-2 {
      width: 341px;
      height: 417px;
    }
    .placeholder-3 {
      margin-top: 20px;
      width: 341px;
      height: 348px;
    }
  }
}
